<!DOCTYPE html>

<html>

<head>
<title>Login</title>

<style>

body{
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
color:white;
}

.box{
background:#1a1a1a;
padding:40px;
border-radius:8px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
background:#333;
border:none;
color:white;
}

button{
width:100%;
padding:10px;
background:#00aa66;
border:none;
color:white;
cursor:pointer;
}

</style>

</head>

<body>

<div class="box">

<h2>Monitor Self Checkout</h2>

<form method="POST">

<input type="text" name="username" placeholder="Usuário">
<input type="password" name="password" placeholder="Senha">

<button type="submit">Entrar</button>

</form>

</div>

</body>
</html>
